#title{
	color:rgb(196, 154, 103);
	size: 600px;
	text-align: center;
	font-family:david ;
}
#description{
	color: brown;
	size: 600;
	font-family: cursive;
	text-align: center;
}
body{
	background: bisque;
}
